.svg_1{
  width:100%;
  background: grey;
}
.svg_2{
  width:100%;
  background: #eeeeee;
}
.svg_3{
  background:darkblue;
}

.svg_4{
  width:100%;
  background:black;
}
.svg_5{
  width:100%;
  background:silver;
}
.bat{
  fill:white;
  fill-opacity:1;
  stroke:black;
  stroke-miterlimit:10;
  stroke-dasharray: 100;
  animation: dash 10s linear;
}
.bat2{
  fill:black;
  stroke:white;
  stroke-miterlimit:10;
  stroke-dasharray: 100;
  animation: dash 10s linear;
}
@keyframes dash {
  to {
    stroke-dashoffset: 2000;
  }
}


.bsword{
  fill:none;
  stroke:#000000;
  stroke-miterlimit:10;
  stroke-dasharray: 0;
  animation: full 3s linear
}

@keyframes full {
 to {
  stroke-dasharray: 500;
  stroke:silver;
  }
}

.star1{opacity:0.35;fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
.star2{opacity:0.18;fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
.star3{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
.star4{fill:none;stroke:#000000;stroke-miterlimit:10;}
.star5{fill:darkblue;stroke:#000000;stroke-miterlimit:10;}

.star1, .star2, .star3, .star4, .star5{
  animation: throwing 2s linear;
}

@keyframes throwing {
 from {transform:  translate(-500px,100px);}
    to {transform:  translate(900px, -100px) rotate(175deg);}

}
.tri1{fill:#FFFF00;stroke:#00FF00;stroke-miterlimit:10;}
.tri2{opacity:0.54;fill:url(#XMLID_6_);stroke:#00FF00;stroke-miterlimit:10;}
.tri3{opacity:0.54;fill:url(#XMLID_7_);stroke:#00FF00;stroke-miterlimit:10;}
.tri4{opacity:0.54;fill:url(#XMLID_8_);stroke:#00FF00;stroke-miterlimit:10;}

.tri1{
  stroke-dasharray: 100;
  animation: fill 3s linear;
}

@keyframes fill {
 to {
  stroke-dashoffset: 100;
  stroke:silver;
  stroke-width:3px;
  }
}

.random1{fill:#F7931E;stroke:#534741;stroke-width:9;stroke-miterlimit:10;}
.random2{fill:#8CC63F;}
.random3{fill:#534741;}
.random4{fill:#00FF00;}

.random1, .random2, .random3, .random4{
  animation: epaisseur 4s linear;
}

@keyframes epaisseur {
  from {
  stroke-width:2px;  
  }
 to {
  stroke-width:9px;
  }
}